<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="./css/index.css">
  </head>
  <body>
    <div class="header">
      <div class="header-normal-layer"></div>
      <div class="header-mask-layer"></div>
      <div class="header-text-layer">
        <a href="https://www.colorink.top" class="page-link">www.colorink.top</a>
      </div>
    </div>
    <div class="body"></div>
    <div class="footer">
      <div class="jopp-logo"></div>
      <div class="details">
        <div class="jopp-logo-text"><a href="https://chromewebstore.google.com/detail/fgbhbfdgdlojklkbhdoilkdlomoilbpl" target="_blank">Just One Page PDF</a></div>
        <time datetime="2025-03-12T05:57:18.532Z">3/12/2025, 1:54:36 PM</time>
      </div>
    </div>
    <script src="./js/index.js"></script>
  </body>
</html>
