:root{
  --color: black;
}
*{
  box-sizing: border-box;
}
html,body,.pdf-container{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

a{
  color: var(--color);
  text-decoration: none;
}

.cover-container {
  position: absolute;
  inset: 0;
  z-index: -1;
  overflow: hidden;
}

.image-cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
}



.jopp-back-cover {
  page: jopp-back-cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 100%;
}

.jopp-back-cover .jopp-doc-detail-table {
  margin: 1cm;
  color: var(--color);
  background: transparent;
  border: 3px solid var(--color);
  font-size: 12pt;
  font-weight: bolder;
  border-collapse: collapse;
  width: initial;
  mix-blend-mode: multiply;
}
.jopp-back-cover .jopp-doc-detail-table thead th,
.jopp-back-cover .jopp-doc-detail-table tfoot th {
  color: var(--color);
  background: opacity;
}
.jopp-back-cover .jopp-doc-detail-table caption {
  padding: 0.5em;
}
.jopp-back-cover .jopp-doc-detail-table th,
.jopp-back-cover .jopp-doc-detail-table td {
  padding: 0.5em;
  border: 3px solid var(--color);
  word-break: break-all;
}


.stroke-text{
    color: white;
    paint-order: stroke fill;
    -webkit-text-stroke: 0.2em var(--color);
}

.stroke-text a{
  color: white
}
