.css-1avnzd8 {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px -1px;
  overflow: hidden;
  min-width: 400px;
  transform: scale(0.75) perspective(1600px) rotateX(0deg) rotateY(0deg);
  translate: 0% 0%;
}
.css-1avnzd8 .hide {
  display: none !important;
}
.css-1avnzd8 .url-bar.hide {
  opacity: 0;
  display: flex !important;
}
.css-1avnzd8 svg {
  height: 100%;
  margin: 0px auto;
}
.css-1avnzd8 img {
  max-width: 100%;
  min-width: 100%;
}
.css-1avnzd8 .browser-controls {
  height: 100px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  justify-content: space-around;
  background: rgba(230, 236, 239, 0.81);
  color: rgb(181, 181, 181);
}
.css-1avnzd8 .window-controls {
  flex: 0 0 120px;
  margin: 0px 2%;
  display: flex;
}
.css-1avnzd8 .window-controls span {
  display: inline-flex;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  margin-right: 18px;
}
.css-1avnzd8 .window-controls span.close {
  background: rgb(255, 133, 133);
  opacity: 1;
}
.css-1avnzd8 .window-controls span.minimise {
  background: rgb(255, 208, 113);
}
.css-1avnzd8 .window-controls span.maximise {
  background: rgb(116, 237, 148);
}
.css-1avnzd8 .page-controls {
  flex: 0 0 140px;
  margin-left: 2%;
  height: 60px;
}
.css-1avnzd8 .page-controls span {
  display: inline-block;
  width: 60px;
  text-align: center;
}
.css-1avnzd8 .page-controls span.back {
  margin-right: 3px;
}
.css-1avnzd8 .url-bar {
  -webkit-box-flex: 1;
  flex-grow: 1;
  margin-left: 2%;
  margin-right: 2%;
  font-family: monospace;
  overflow: hidden;
  height: 60px;
  line-height: 60px;
  font-size: 2em;
}
.css-1avnzd8 .url-bar .urlInput {
  border: none;
  outline: none;
  color: rgb(181, 181, 181);
  background: transparent;
  display: inline;
  box-shadow: none;
  min-width: 90%;
}
.css-1avnzd8 .url-bar .lock {
  height: 100%;
  display: flex;
  margin: 0px 10px;
}
.css-1avnzd8 .url-bar .url-text {
  overflow: hidden;
  white-space: nowrap;
  min-width: 90%;
}
.css-1avnzd8 .settings {
  display: flex;
  width: 60px;
  text-align: center;
}
.css-1avnzd8 .browser-container {
  display: flex;
  background-color: rgba(255, 255, 255, 0.66);
  -webkit-box-align: center;
  align-items: center;
  height: 60px;
  border-radius: 3px;
  font-size: 2em;
}
.css-1avnzd8 .browser-container:last-of-type {
  margin-right: 2%;
}
.css-1avnzd8 .content-wrap {
  background-color: rgb(255, 255, 255);
}
.css-1avnzd8 #screenshot-wrap {
  overflow: hidden;
}










.css-2jj6o {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px -1px;
  overflow: hidden;
  min-width: 400px;
  transform: scale(0.75) perspective(1600px) rotateX(0deg) rotateY(0deg);
  translate: 0% 0%;
}
.css-2jj6o .hide {
  display: none !important;
}
.css-2jj6o .url-bar.hide {
  opacity: 0;
  display: flex !important;
}
.css-2jj6o svg {
  height: 100%;
  margin: 0px auto;
}
.css-2jj6o img {
  max-width: 100%;
  min-width: 100%;
}
.css-2jj6o .browser-controls {
  height: 100px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  justify-content: space-around;
  background: rgb(45, 55, 59);
  color: rgb(181, 181, 181);
}
.css-2jj6o .window-controls {
  flex: 0 0 120px;
  margin: 0px 2%;
  display: flex;
}
.css-2jj6o .window-controls span {
  display: inline-flex;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  margin-right: 18px;
}
.css-2jj6o .window-controls span.close {
  background: rgb(255, 133, 133);
  opacity: 1;
}
.css-2jj6o .window-controls span.minimise {
  background: rgb(255, 208, 113);
}
.css-2jj6o .window-controls span.maximise {
  background: rgb(116, 237, 148);
}
.css-2jj6o .page-controls {
  flex: 0 0 140px;
  margin-left: 2%;
  height: 60px;
}
.css-2jj6o .page-controls span {
  display: inline-block;
  width: 60px;
  text-align: center;
}
.css-2jj6o .page-controls span.back {
  margin-right: 3px;
}
.css-2jj6o .url-bar {
  -webkit-box-flex: 1;
  flex-grow: 1;
  margin-left: 2%;
  margin-right: 2%;
  font-family: monospace;
  overflow: hidden;
  height: 60px;
  line-height: 60px;
  font-size: 2em;
}
.css-2jj6o .url-bar .urlInput {
  border: none;
  outline: none;
  color: rgb(181, 181, 181);
  background: transparent;
  display: inline;
  box-shadow: none;
  min-width: 90%;
}
.css-2jj6o .url-bar .lock {
  height: 100%;
  display: flex;
  margin: 0px 10px;
}
.css-2jj6o .url-bar .url-text {
  overflow: hidden;
  white-space: nowrap;
  min-width: 90%;
}
.css-2jj6o .settings {
  display: flex;
  width: 60px;
  text-align: center;
}
.css-2jj6o .browser-container {
  display: flex;
  background-color: rgb(255, 255, 255);
  -webkit-box-align: center;
  align-items: center;
  height: 60px;
  border-radius: 3px;
  font-size: 2em;
}
.css-2jj6o .browser-container:last-of-type {
  margin-right: 2%;
}
.css-2jj6o .content-wrap {
  background-color: rgb(255, 255, 255);
}
.css-2jj6o #screenshot-wrap {
  overflow: hidden;
}




.css-g44dtv {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px -1px;
  overflow: hidden;
  min-width: 400px;
  transform: scale(0.75) perspective(1600px) rotateX(0deg) rotateY(0deg);
  translate: 0% 0%;
}
.css-g44dtv .hide {
  display: none !important;
}
.css-g44dtv .url-bar.hide {
  opacity: 0;
  display: flex !important;
}
.css-g44dtv svg {
  height: 100%;
  margin: 0px auto;
}
.css-g44dtv img {
  max-width: 100%;
  min-width: 100%;
}
.css-g44dtv .browser-controls {
  height: 100px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  justify-content: space-around;
  background: rgb(230, 236, 239);
  color: rgb(181, 181, 181);
}
.css-g44dtv .window-controls {
  flex: 0 0 120px;
  margin: 0px 2%;
  display: flex;
}
.css-g44dtv .window-controls span {
  display: inline-flex;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  margin-right: 18px;
}
.css-g44dtv .window-controls span.close {
  background: rgb(255, 133, 133);
  opacity: 1;
}
.css-g44dtv .window-controls span.minimise {
  background: rgb(255, 208, 113);
}
.css-g44dtv .window-controls span.maximise {
  background: rgb(116, 237, 148);
}
.css-g44dtv .page-controls {
  flex: 0 0 140px;
  margin-left: 2%;
  height: 60px;
}
.css-g44dtv .page-controls span {
  display: inline-block;
  width: 60px;
  text-align: center;
}
.css-g44dtv .page-controls span.back {
  margin-right: 3px;
}
.css-g44dtv .url-bar {
  -webkit-box-flex: 1;
  flex-grow: 1;
  margin-left: 2%;
  margin-right: 2%;
  font-family: monospace;
  overflow: hidden;
  height: 60px;
  line-height: 60px;
  font-size: 2em;
}
.css-g44dtv .url-bar .urlInput {
  border: none;
  outline: none;
  color: rgb(181, 181, 181);
  background: transparent;
  display: inline;
  box-shadow: none;
  min-width: 90%;
}
.css-g44dtv .url-bar .lock {
  height: 100%;
  display: flex;
  margin: 0px 10px;
}
.css-g44dtv .url-bar .url-text {
  overflow: hidden;
  white-space: nowrap;
  min-width: 90%;
}
.css-g44dtv .settings {
  display: flex;
  width: 60px;
  text-align: center;
}
.css-g44dtv .browser-container {
  display: flex;
  background-color: rgb(255, 255, 255);
  -webkit-box-align: center;
  align-items: center;
  height: 60px;
  border-radius: 0px;
  font-size: 2em;
}
.css-g44dtv .browser-container:last-of-type {
  margin-right: 2%;
}
.css-g44dtv .content-wrap {
  background-color: rgb(255, 255, 255);
}
.css-g44dtv #screenshot-wrap {
  overflow: hidden;
}





.css-5kx35o {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px -1px;
  overflow: hidden;
  min-width: 400px;
  transform: scale(0.75) perspective(1600px) rotateX(0deg) rotateY(0deg);
  translate: 0% 0%;
}
.css-5kx35o .hide {
  display: none !important;
}
.css-5kx35o .url-bar.hide {
  opacity: 0;
  display: flex !important;
}
.css-5kx35o svg {
  height: 100%;
  margin: 0px auto;
}
.css-5kx35o img {
  max-width: 100%;
  min-width: 100%;
}
.css-5kx35o .browser-controls {
  height: 100px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  justify-content: space-around;
  background: rgb(0, 0, 0);
  color: rgb(181, 181, 181);
}
.css-5kx35o .window-controls {
  flex: 0 0 120px;
  margin: 0px 2%;
  display: flex;
}
.css-5kx35o .window-controls span {
  display: inline-flex;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  margin-right: 18px;
}
.css-5kx35o .window-controls span.close {
  background: rgb(32, 29, 29);
  opacity: 1;
}
.css-5kx35o .window-controls span.minimise {
  background: rgb(32, 29, 29);
}
.css-5kx35o .window-controls span.maximise {
  background: rgb(32, 29, 29);
}
.css-5kx35o .page-controls {
  flex: 0 0 140px;
  margin-left: 2%;
  height: 60px;
}
.css-5kx35o .page-controls span {
  display: inline-block;
  width: 60px;
  text-align: center;
}
.css-5kx35o .page-controls span.back {
  margin-right: 3px;
}
.css-5kx35o .url-bar {
  -webkit-box-flex: 1;
  flex-grow: 1;
  margin-left: 2%;
  margin-right: 2%;
  font-family: monospace;
  overflow: hidden;
  height: 60px;
  line-height: 60px;
  font-size: 2em;
}
.css-5kx35o .url-bar .urlInput {
  border: none;
  outline: none;
  color: rgb(181, 181, 181);
  background: transparent;
  display: inline;
  box-shadow: none;
  min-width: 90%;
}
.css-5kx35o .url-bar .lock {
  height: 100%;
  display: flex;
  margin: 0px 10px;
}
.css-5kx35o .url-bar .url-text {
  overflow: hidden;
  white-space: nowrap;
  min-width: 90%;
}
.css-5kx35o .settings {
  display: flex;
  width: 60px;
  text-align: center;
}
.css-5kx35o .browser-container {
  display: flex;
  background-color: rgb(31, 28, 28);
  -webkit-box-align: center;
  align-items: center;
  height: 60px;
  border-radius: 3px;
  font-size: 2em;
}
.css-5kx35o .browser-container:last-of-type {
  margin-right: 2%;
}
.css-5kx35o .content-wrap {
  background-color: rgb(255, 255, 255);
}
.css-5kx35o #screenshot-wrap {
  overflow: hidden;
}



.css-jl5lsa {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px -1px;
  overflow: hidden;
  min-width: 400px;
  translate: 0% 0%;
}
.css-jl5lsa .hide {
  display: none !important;
}
.css-jl5lsa .url-bar.hide {
  opacity: 0;
  display: flex !important;
}
.css-jl5lsa svg {
  height: 100%;
  margin: 0px auto;
}
.css-jl5lsa img {
  max-width: 100%;
  min-width: 100%;
}
.css-jl5lsa .browser-controls {
  height: 120px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  justify-content: space-around;
  background: rgb(255, 255, 255);
  color: rgb(181, 181, 181);
}
.css-jl5lsa .window-controls {
  flex: 0 0 120px;
  margin: 0px 2%;
  display: flex;
}
.css-jl5lsa .window-controls span {
  display: inline-flex;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  margin-right: 18px;
}
.css-jl5lsa .window-controls span.close {
  background: rgb(255, 133, 133);
  opacity: 1;
}
.css-jl5lsa .window-controls span.minimise {
  background: rgb(255, 208, 113);
}
.css-jl5lsa .window-controls span.maximise {
  background: rgb(116, 237, 148);
}
.css-jl5lsa .page-controls {
  flex: 0 0 140px;
  margin-left: 2%;
  height: 60px;
}
.css-jl5lsa .page-controls span {
  display: inline-block;
  width: 60px;
  text-align: center;
}
.css-jl5lsa .page-controls span.back {
  margin-right: 3px;
}
.css-jl5lsa .url-bar {
  -webkit-box-flex: 1;
  flex-grow: 1;
  margin-left: 2%;
  margin-right: 2%;
  font-family: monospace;
  overflow: hidden;
  height: 60px;
  line-height: 60px;
  font-size: 2em;
}
.css-jl5lsa .url-bar .urlInput {
  border: none;
  outline: none;
  color: rgb(181, 181, 181);
  background: transparent;
  display: inline;
  box-shadow: none;
  min-width: 90%;
}
.css-jl5lsa .url-bar .lock {
  height: 100%;
  display: flex;
  margin: 0px 10px;
}
.css-jl5lsa .url-bar .url-text {
  overflow: hidden;
  white-space: nowrap;
  min-width: 90%;
}
.css-jl5lsa .settings {
  display: flex;
  width: 60px;
  text-align: center;
}
.css-jl5lsa .browser-container {
  display: flex;
  background-color: rgb(255, 255, 255);
  -webkit-box-align: center;
  align-items: center;
  height: 60px;
  border-radius: 10px;
  font-size: 2em;
}
.css-jl5lsa .browser-container:last-of-type {
  margin-right: 2%;
}
.css-jl5lsa .content-wrap {
  background-color: rgb(255, 255, 255);
}
.css-jl5lsa #screenshot-wrap {
  overflow: hidden;
}




.css-akciz5 {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px -1px;
  overflow: hidden;
  min-width: 400px;
  transform: scale(0.75) perspective(1600px) rotateX(0deg) rotateY(0deg);
  translate: 0% 0%;
}
.css-akciz5 .hide {
  display: none !important;
}
.css-akciz5 .url-bar.hide {
  opacity: 0;
  display: flex !important;
}
.css-akciz5 svg {
  height: 100%;
  margin: 0px auto;
}
.css-akciz5 img {
  max-width: 100%;
  min-width: 100%;
}
.css-akciz5 .browser-controls {
  height: 120px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  justify-content: space-around;
  background: rgb(85, 14, 64);
  color: rgb(181, 181, 181);
}
.css-akciz5 .window-controls {
  flex: 0 0 120px;
  margin: 0px 2%;
  display: flex;
}
.css-akciz5 .window-controls span {
  display: inline-flex;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  margin-right: 18px;
}
.css-akciz5 .window-controls span.close {
  background: rgb(130, 33, 99);
  opacity: 1;
}
.css-akciz5 .window-controls span.minimise {
  background: rgb(130, 33, 99);
}
.css-akciz5 .window-controls span.maximise {
  background: rgb(130, 33, 99);
}
.css-akciz5 .page-controls {
  flex: 0 0 140px;
  margin-left: 2%;
  height: 60px;
}
.css-akciz5 .page-controls span {
  display: inline-block;
  width: 60px;
  text-align: center;
}
.css-akciz5 .page-controls span.back {
  margin-right: 3px;
}
.css-akciz5 .url-bar {
  -webkit-box-flex: 1;
  flex-grow: 1;
  margin-left: 2%;
  margin-right: 2%;
  font-family: monospace;
  overflow: hidden;
  height: 60px;
  line-height: 60px;
  font-size: 2em;
}
.css-akciz5 .url-bar .urlInput {
  border: none;
  outline: none;
  color: rgb(181, 181, 181);
  background: transparent;
  display: inline;
  box-shadow: none;
  min-width: 90%;
}
.css-akciz5 .url-bar .lock {
  height: 100%;
  display: flex;
  margin: 0px 10px;
}
.css-akciz5 .url-bar .url-text {
  overflow: hidden;
  white-space: nowrap;
  min-width: 90%;
}
.css-akciz5 .settings {
  display: flex;
  width: 60px;
  text-align: center;
}
.css-akciz5 .browser-container {
  display: flex;
  background-color: rgb(130, 32, 99);
  -webkit-box-align: center;
  align-items: center;
  height: 60px;
  border-radius: 4px;
  font-size: 2em;
}
.css-akciz5 .browser-container:last-of-type {
  margin-right: 2%;
}
.css-akciz5 .content-wrap {
  background-color: rgb(255, 255, 255);
}
.css-akciz5 #screenshot-wrap {
  overflow: hidden;
}

