:root {
  --brand-color: #ed5565;
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
body {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.hide {
  display: none !important;
}
.header,
.body,
.footer {
  width: 100%;
}
.body {
  flex: 1;
}

body .header {
  text-align: center;
  background: var(--brand-color);
  height: 40px;
  line-height: 40px;
  font-weight: bolder;
  text-transform: uppercase;
}

body .footer {
  z-index: 1;
  --footer-background: var(--brand-color);
  position: relative;
  grid-area: footer;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  mask: linear-gradient(0, #1c1919 150px, transparent);
}
body .footer .bubbles {
  position: absolute;
  left: 0;
  right: 0;
  background: var(--footer-background);
  filter: url(#blob);
  bottom: calc(200px - 1rem);
  height: 1rem;
}
body .footer .bubbles .bubble {
  position: absolute;
  left: var(--position, 50%);
  background: var(--footer-background);
  border-radius: 100%;
  -webkit-animation: bubble-size var(--time, 4s) ease-in infinite
      var(--delay, 0s),
    bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
  animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s),
    bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
  transform: translate(-50%, 100%);
}
body .footer .content {
  z-index: 2;
  display: flex;
  background: var(--footer-background);
  column-gap: 20px;
  justify-content: space-between;
  padding: 20px;
  overflow: hidden;
}
body .footer .content .title {
  overflow: hidden;
}

body .footer .content > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
}

@-webkit-keyframes bubble-size {
  0%,
  75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}

@keyframes bubble-size {
  0%,
  75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}
@-webkit-keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}
@keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}
