:root{
  --brand-color-dark: #af1f1f;
  --brand-color: #d93838;
  --rotate-deg: 45deg;
}

@font-face {
  font-family: "xsjGideonRoman";
  src:
    url("../../../../fonts/GideonRoman-Regular.ttf");
}

@font-face {
  font-family: "xsjOswald";
  src:
    url("../../../../fonts/Oswald-Bold.ttf");
}

*{
  box-sizing: border-box;
}
html,body,.pdf-container{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html{
  background-color: var(--brand-color-dark);
  background-image: linear-gradient(180deg, var(--brand-color-dark) .5%, var(--brand-color));
  color: white;
}

a{
  text-decoration: none;
  color: white;
}

.jopp-back-cover {
  page: jopp-back-cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 100%;
}

.jopp-back-cover .header-img-container{
  position: absolute;
  inset: 0;
}
.jopp-back-cover .header-img-container .logo-svg{
  height: 100%;
  width: 10vw;
  width: clamp(10px, 10vw, 100px);
  transform: rotate(45deg);
  transform-origin: top;
}

.jopp-back-cover .jopp-doc-detail-table {
  margin: 1cm;
  border: 1px solid;
  font-size: 12pt;
  border-collapse: collapse;
  width: initial;
}

.jopp-back-cover .jopp-doc-detail-table caption {
  padding: 0.5em;
}
.jopp-back-cover .jopp-doc-detail-table th,
.jopp-back-cover .jopp-doc-detail-table td {
  padding: 0.5em;
  border: 1px solid;
  word-break: break-all;
}
.header-container {
  text-align: center;
  align-self: stretch;
  position: relative;
}
#fix-text {
  font-size: 10vw;
  font-size: clamp(10px, 10vw, 100px);
  white-space: nowrap;
  font-family: "xsjOswald", sans-serif;
}
.jopp-logo-text {
  font-weight: bold;
  margin: 0.67em 0;
}
.jopp-logo-text:before {
  content: "Just One Page PDF";
}
.content-szw-link {
  text-decoration-style: wavy;
  text-decoration-skip-ink: none;
  text-decoration-line: underline;
  font-weight: bolder;
}
.logo-text {
  font-family: "xsjLogo";
}
