*{
  box-sizing: border-box;
}
html {
  overflow: hidden;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
body {
  position: relative;
  display: flex;
  flex-direction: column;
}
.hide {
  display: none !important;
}
.header,
.body,
.footer {
  width: 100%;
}
.body {
  flex: 1;
}
.header,.footer{
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: bolder;
  text-align: center;
}
.header {
  background: #607d8b;
  line-height: 40px;
}
.footer{
  height: 300px;
  align-content: end;
}

.footer .programmer{
  height: 200px;
  position: absolute;
  bottom: 40px;
  right: 0;
  left: 50%;
  transform: translate(-50%);
  mask: linear-gradient(0, #1c1919 60px, transparent);
}

.footer .details{
  height: 80px;
  background: #607d8b;
  color: white;
  display: flex;
  justify-content: center;
  align-items: end;
}
